/**
 * 输入框 `prepend`, `append-outer` 插槽内容样式
 */
@mixin input-prepend-outer-style($name){
  // 默认情况, 文字高度和输入框高度一致
  .v-input__prepend-outer{
    margin-top: 0;
    margin-bottom: 0;

    .#{ $name }__prepend-outer{
      height: 32px;
      line-height: 32px;
    }
  }
  // 使用了降低输入高度选项时, 文字高度和输入框高度一致
  &.v-input--dense{
    .v-input__prepend-outer{
      .#{ $name }__prepend-outer{
        height: 26px;
        line-height: 28px;
      }
    }
  }
}